name: Deploy MkDocs to gh-pages branch

on:
  push:
    branches: ["main", "master"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install MkDocs
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs
      - name: Install antiword
        run: |
          sudo apt-get update
          sudo apt-get install -y antiword

      - name: Build Docs
        run: |
          python scripts/build_docs.py
          mkdocs build --clean

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Deploy to gh-pages branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdocs gh-deploy --force --clean --remote-branch gh-pages
